* {
	font-family: 'Bungee', cursive;
}
html {
	height: 100%;
	width: 100%;
	background-color:white; /*White*/
}
body {
	/* background-color: #DCDCDC; */
	background-color: white; /*White Smoke*/
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	font-family: Times 'Times New Roman', Times, serif;
	background-image: url("img/foodbackground.jpeg");
}
div.container-fluid {
	padding:0px;
	display: inline-block;
}
div.row {
	padding: 0;
	margin: 0;
}
div.nopadding {
	padding: 0 !important;
}
div.nomargin {
	margin: 0 !important;
}
div.margin_auto {
	margin: auto;
}
div.text_center {
	text-align: center !important;
}
div.vh_45 {
	height: 45vh;
}
div.vh_100 {
	height: 100vh;
}
#navbar {
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	height: 60px;
	font-family: 'Arial Black', sans-serif !important;	
	background-color:	black!important;
	border-bottom: 10px solid	black;
	transition: 0.5s;
}
	#navbar a {
		border: none;
		outline: none;
		text-decoration: none;
		text-shadow: 0px 0px 2px blue;
		overflow: hidden;
		text-align: center;
		color: whitesmoke;
		font-size: 15px;
		font-weight: bold;
		float: inherit;
	}
	#navbar a:hover {
		transition: 0.3s;
		color: #A9A9A9 !important; /*Dark Gray*/
	}
	#navbar .navbar-brand {
		padding: 0px;
		margin-left: 20px;
		margin-right: 20px;
	}
	#navbar #navbar_logo {
		padding: 2px;
		float: left;
		overflow: hidden;
		height: 40px;
		transition: 0.5s;
	}
	.nav-link {
		padding: none;
	}
.body_block {
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	font-family: 'Arial Black', sans-serif !important;
	margin: auto;
}
#search_bar{
	text-align: center;
	width: 50vw;
	height: 80px;
	border: 4px solid #B22222;
	border-radius: 8px;
	font-size: 18px;
}

.autocomplete {
	position: relative;
	display: inline-block;
  }
  
  input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
  }
  
  input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
  }
  
  input[type=submit] {
	background-color: #DC143C;
	color: #fff;
	cursor: pointer;
  }
  
  .autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
  }
  
  .autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff; 
	border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
	background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
	background-color: DodgerBlue !important; 
	color: #ffffff; 
  }
  
 .nav-item active {
	background-color: white; 
 }

 #home_title{
	 margin-top: -200px; 
	 font-size: 100px;
	 font-family: 'Fredoka One', cursive;
	
	text-align: center;


	background:rgba(255, 255, 255, 0.705);
	 color: black;
	 
 }

 #search_title {
	 font-size: 25.2px;
	 font-family: 'Berkshire Swash', cursive;

 }
* {
	font-family: 'Roboto Slab', serif;
}

#getstartedbutton {
	background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 41%;
  border: solid white 1px;

}
#getstartedbutton:hover {
	background: red;
}
#description {
	text-align: center;
	margin-top: 30px;
	margin-right: 70px;
	
}
#what {
	background: black;
	color: white;
	padding: 10px;
	margin-bottom: 100px;

	
}

#loginbutton {
	background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 43%;
  border: solid white 1px;

}
#loginbutton:hover {
	background: red;
}
#description {
	text-align: center;
	margin-top: 50px;
	
}
#login {
	background: black;
	color: white;
	padding: 10px;
	margin-bottom: 100px;
	margin-right: 400px;
	
}

#how {
	background: white; 

}
/*
#what {
	
	float: left;

	background: yellow; 
	margin: 10px;
}

#how {
	width: 20%; 
	float: left; 
	 
	background: gray; 
	margin: 10px; 
}
/*

  #what, #how {
	 border: solid 2px;
	 margin-right: 230px;
	 margin-left: 230px;
	 margin-top: 100px;
	 background-color: 	#D8BFD8	;
	 padding: 30px;
	 margin-bottom: 50px;
	display: table;
	width: 100%;

 }
*/
#button {
	width: 200px;
}