<!doctype html>
<html lang="en">
<head>
	<title>FoodFinderrz</title>
	<link rel='icon' href="../img/site_favicon.png" type='image/x-icon'>
	<meta name="description=" content="We deliver delicious recipes to hungry college students!">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link href="https://fonts.googleapis.com/css?family=Knewave&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
</head>

<body>
	<div class="container-fluid vh_100">
    	<nav id="navbar" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/">
				<img id="navbar_logo" src="../img/navbar_logo.png">
				<a class="nav-link" href="/">FoodFinderrz</a>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<script>
						if (localStorage.getItem('jwt') != null){
							document.write(
							`<li class="nav-item">
								<a class="nav-link" href="makeRecipe.html">Create A Recipe</a>
							</li>`
							);
						}
					</script>
					<!-- <li class="nav-item">
						<a class="nav-link" href="index.html">Search</a>
					</li> -->
					<li class="nav-item">
						<!-- <a class="nav-link" href="Accounts/login.html"> -->
							<script>
							if (localStorage.getItem('jwt') != null) {
								document.write(`<a href="recipes.html">${localStorage.getItem('name')}</a>`
							);
							}
							</script>
					</li>
					<script>
						if (localStorage.getItem('jwt') != null){
							document.write(
							`<li class="nav-item">
								<a class="nav-link" href="../Accounts/logout.html">Logout</a>
							</li>`
							);
						}
					</script>
				</ul>
			</div>
		</nav>
		<!-- Could add an image background with high transparency to make the background look less bland -->
		<div class="container-fluid nopadding body_block">
			<div class="row">
				<div class="col-12 vh_45">
				</div>
			</div>
			<div class="row">
				
				<div class="col-12 nopadding">
						<h1 id = "home_title"> FoodFinderrz</h1> 
				</div>
                        <div class = "col-12" id= "what">
							<br>
							<script>
									if (localStorage.getItem('jwt') == null){
										document.write(
										`<a id = "getstartedbutton" href="../Accounts/login.html"> Get Started </a>`
										);
									} else {
										document.write(
											`<a id = "getstartedbutton" href="../index.html"> Get Started </a>`
										);
									}
								</script>
								<!-- <a id = "getstartedbutton" href="index.html"> Get Started </a> -->
                        <br> 
                        <p id = "description"> Start with ingredients that you have at home! </p>
                        <br> 
					</div>
					<script>
						if(localStorage.getItem('jwt') == null){
							document.write(`
							<div class = "col-12" id= "login">
								<br>
								<a id = "loginbutton" href="../Accounts/login.html"> Login! </a>
								<br> 
								<p id = "description"> Create an account to save all of your recipes! </p>
								<br> 
							</div>
							`);
						}
					</script>
					
				</div>
			</div>
		</div>
	</div>
	
</body>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
</html>
