<!DOCTYPE html>
<html>
    <head>
        <title>Create Your Own Recipe!</title>
                  <link rel="stylesheet" type="text/css" href="../Accounts/loginstyle.css">
          
                  <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
                  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
              </head>
              <body>
                  <div class="container-fluid vh_100">

                            <div class="topnav">
                                <img id="topnav-left" class="topnav-img" src="../img/navbar_logo.png">
                                <a class="topnav-active" href="./home.html">FoodFinderrz</a>
                                <div class="topnav-right">
                                    <a href="./home.html">Home</a>
                                    <a href="../Index.html">Search</a>
                                    <script>
                                        if (localStorage.getItem('jwt') != null){
                                            document.write(
                                                `<a href="./recipes.html">Popular</a>`
                                            );
                                        }
                                    </script>
                                    <script>
                                        if (localStorage.getItem('jwt') != null){
                                            document.write(
                                                `<a href="./makeRecipe.html">Create A Recipe</a>`
                                            );
                                        }
                                    </script>
                                    <script>
                                        if (localStorage.getItem('jwt') != null) {
                                            document.write(`
                                            <a href="./myrecipes.html">${localStorage.getItem('name')}</a>
                                            `);
                                        } else {
                                            document.write(`
                                            <a id="topnav-left" href="../Accounts/login.html">Login</a>
                                            `);
                                        }
                                    </script>
                                    <script>
                                        if (localStorage.getItem('jwt') != null){
                                            document.write(
                                            `<a id="topnav-right" href="../Accounts/logout.html">Logout</a>`
                                            );
                                        }
                                    </script>
                                </div>
                            </div>

                            <div class="medium_space"></div>
                            <h1 id = "account_title">Make a Recipe</h1>
                  <div id = "makerecipebox">
                      <form>
                          <!-- <input id="id" className="id" placeholder="Recipe ID" type="text" name="id"/> -->
                          <input id="name" className="name" placeholder="Recipe Name" type="text" name="name"/>
                         
                          
                          <input id="ingredients" className="ingredients" placeholder="Ingredients" type="text" name="ingredients"/>
                          <br>
                          <input id="instructions" className="instructions" placeholder="Instructions" type="text" name="instructions"/>
                          <br>
                          <button id="recipebutton" onclick="addRecipePrivate()">Make Recipe</button>
                          <h4 id="putacomma">Be sure to enter a comma-separated list of ingredients!</h4>
                      </form>
                  </div>
                  <div class="small_space"></div>
                  <script src="../functionality/newrecipe.js"></script>
                  <script src="../node_modules/axios/dist/axios.js"></script>
              </body>
          </html>
            